<div class="container container-main">

  <%= render partial: 'layouts/form' %>

  <% if logged_in? %>
    <ul class="posts"><span>View:</span>
      <a class="btn btn-default btn-home" href="<%= '/' %>">all posts</a>
      <a class="btn btn-default btn-feed" disabled>only following</a>
      <% current_user.following.flatten.map.each do |f| %>
        <% f.posts.each do |post| %>
          <%= render partial: 'layouts/feed', :locals => { :post => post } %>
        <% end %>
      <% end %>
    </ul>
  <% end %>
</div>
