// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$purple: #6B80D7;
$off-white: #fafafa;
$text-gray: #333333;

// breakpoints:
$phone: 640px;
$tablet: 768px;
$desktop: 1024px;

* {
  margin: 0;
  font-family: 'Menlo';
  box-shadow: none;
  outline: none;
}

header {
  padding: 10px 10px 5px 10px;
  color: $off-white;
  width: 100%;
  border-bottom: 4px solid $purple;
  background-color: $purple;

  @media (max-width: $phone) {   //and (max-width: 1023px)
    width: 100%;
    text-align: center;
    padding: 10px 0 5px 0;
    margin: 0;
  }
}

.error {
  position: relative;
  text-align: center;
  color: tomato;
  padding-top: 20px;
}

.container {
  margin-top: 20px;
  display: block;
  padding-left: 20px;
  color: $text-gray;

  @media (max-width: $phone) {   //and (max-width: 1023px)
    width: 100%;
    text-align: center;
    padding: 10px 0 5px 0;
  }

  h4 {
    padding-left: 4px;
    color: darken($off-white, 48%);
  }

  .text-box{
    font-size: 18px;
    padding: 10px;
    margin-top: 10px;
    width: 400px;
    height: 60px;
    border: none;
    border-radius: 10px;
    background-color: $off-white;

    @media (max-width: $phone) {
      max-width: 360px;
    }
  }

  .btn {
    margin: 0 auto;
    cursor: pointer;
    width: 418px;
    height: 40px;
    border-radius: 10px;
    margin: 10px 0 40px 0;
    font-family: 'Menlo';
    background-color: $purple;
    border: 1px solid $purple;

    @media (max-width: $phone) {
      max-width: 360px;
    }
  }

  .rails-btn {
    border: none;
    font-size: 1.5em;
    color: $off-white;
    background-color: $purple;
  }

  ul {
    list-style: none;
    padding: 10px;
    color: $text-gray;

    @media (max-width: $phone) {
      text-align: left;
    }

    li {
      margin-bottom: 12px;
      padding-left: 6px;
      border-left: 3px solid $purple;
    }

    .timestamp {
      font-size: 12px;
      color: #aaa;
    }

    .delete {
      font-size: 0.7em;
      padding: 2px 4px;
      border: 1px solid $purple;
      border-radius: 4px;
      background-color: $purple;

      a {
        text-decoration: none;
        color: $off-white;
      }
    }
  }

}
