// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
$purple: #6B80D7;
$off-white: #fafafa;
$text-gray: #333333;
$green: #69F0AE;

// breakpoints:
$phone: 640px;
$tablet: 768px;
$desktop: 1024px;

@import '_flex-mixin';

input[type=text],
input[type=email],
input[type=tel],
input[type=submit],
input[type=button] {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;

  border-radius: 0;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
}

* {
  font-family: 'Lato', Arial, serif; font-weight: 400;
}

header {
  color: $off-white;
  width: 100%;
  background-color: $purple;
  margin-top: -10px;

  .navbar-brand {
    font-size: 32px;
    padding-top: 25px;
    padding-left: 10px;

    @media (max-width: $phone) {
      width: 100%;
      padding: 0;
      text-align: center;
    }
    a {
      color: $off-white;
      font-weight: 700;

      &:hover {
        text-decoration: none;
      }
    }
  }

  .nav {
    padding-right: 30px;
    padding-top: 5px;

    .nav-name {
      padding-top: 40px;

      &:hover {
        cursor: pointer;
        color: $green;
      }
    }
    .logout-link {
      padding-top: 35px;
      padding-left: 10px;
    }
      .profile-link {
        border: none;
        img {
          max-width: 60px;
          border-radius: 40px;
          margin: 15px 0;
        }
      }
      a {
        text-decoration: none;
        color: white;
        padding: 4px 10px;
        border: 1px solid white;
        border-radius: 4px;

        &:hover {
          border-color: $green;
          color: $green;
          background-color: $purple;
        }
      }

      .signup-link,
      .login-link {
        padding: 35px 5px 35px 5px;

      }
    }

    @media (max-width: $phone) {
      padding: 0;
      .nav-name {
        padding: 0 0 10px 0;
        float: none;
        display: inline-block;
      }
      .nav-action {
        float: none;
        display: inline-block;
        padding: 0 0 10px 0;
        margin: -5px 5px 0 5px;

      }
    }
  }

  @media (max-width: $phone) {   //and (max-width: 1023px)
    width: 100%;
    text-align: center;
    padding: 10px 0 5px 0;
    margin: 0;

    .nav {
      width: 100%;
    }
  }

.error {
  position: relative;
  text-align: center;
  color: tomato;
  padding-top: 20px;
}

.container-main {
  @include displayFlex;
  @include flexDirection(column);
  @include flexAlignItems(center);

  margin-top: 40px;
  color: $text-gray;

  @media (max-width: $phone) {   //and (max-width: 1023px)
    width: 100%;
    text-align: center;
    padding: 10px 0 5px 0;
    margin-top: 20px;
  }

  .post-wrapper {
    h4 {
      color: $purple;

      a {
        text-decoration: none;
        font-size: 14px;

        &:hover {
          color: $green;
        }
      }
    }

    .text-box {
      font-size: 18px;
      padding: 10px;
      margin-top: 10px;
      width: 400px;
      height: 100px;
      border: none;
      border-radius: 10px;
      background-color: $off-white;

      &:focus {
        outline: 0;
        outline: 1px solid $green;
      }

      @media (max-width: $phone) {
        max-width: 360px;
      }
    }
  }

  .btn {
    margin: 0 auto;
    cursor: pointer;
    border-radius: 10px;
    margin: 10px 0 40px 0;
    border: 1px solid $purple;
    font-size: 1.2em;
    color: $purple;
    background-color: white;

    &:hover {
      border-color: $green;
      color: $green;
    }

    @media (max-width: $phone) {
      max-width: 360px;
    }
  }

  .posts {
    width: 100%;
    list-style: none;
    padding: 10px;
    color: $text-gray;

    @media (max-width: $phone) {
      text-align: left;
    }

    span {
      font-size: 14px;
    }

    .btn-feed,
    .btn-home {
      font-size: 11px;
      margin-top: 35px;
      margin-left: 10px;
    }

    li {
      font-family: 'Menlo';
      font-size: 18px;
      padding-left: 6px;
      margin-bottom: 12px;
      border-left: 3px solid $purple;
    }

    .timestamp,
    .user {
      font-size: 12px;
      font-weight: 300;
      color: #aaa;

      a:hover {
        text-decoration: none;
      }

      #user-post a {
        color: $green;
      }
    }
    .delete {
      display: inline;
      font-size: 10px;
      padding: 2px 4px;
      border: 1px solid $purple;
      border-radius: 4px;
      a {
        text-decoration: none;
        color: $purple;
      }

      &:hover {
        border-color: $green;
        a {
          color: $green;
        }
      }
    }
  }
}
